In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
security_data = pd.read_csv('MSFT_AAPL_stock.csv', index_col='Date')

In [3]:
security_data.index=pd.to_datetime(security_data.index)

In [4]:
security_data.head()

                 MSFT      AAPL
Date
1999-12-31  38.965767  3.303425
2000-01-03  38.903194  3.596616
2000-01-04  37.589046  3.293384
2000-01-05  37.985374  3.341579
2000-01-06  36.712940  3.052405

In [7]:
security_returns = np.log(security_data / security_data.shift(1))

In [8]:
MSFT = security_returns['MSFT'].var() 
MSFT

0.00038639563806806983

In [9]:
AAPL = security_returns['AAPL'].var() 
AAPL

0.0007707249967476555

In [10]:
MSFT = security_returns['MSFT'].var() * 250
MSFT

0.09659890951701745

In [11]:
AAPL = security_returns['AAPL'].var()*250 
AAPL

0.19268124918691387

In [12]:
cov_matrix = security_returns.cov()
cov_matrix

          MSFT      AAPL
MSFT  0.000386  0.000218
AAPL  0.000218  0.000771

In [13]:
cov_matrix = security_returns.cov()*250
cov_matrix

          MSFT      AAPL
MSFT  0.096599  0.054592
AAPL  0.054592  0.192681

In [ ]:
corr_matrix = security_returns.corr()*250
corr_matrix