## Reading from Financial API such as IEX and Morning start

In [5]:
import pandas as pd
pd.core.common.is_list_like = pd.api.types.is_list_like
from pandas_datareader import data as wb

In [9]:
AAPL_IEX = wb.DataReader('AAPL', data_source='iex', start='2015-1-1')

5y

In [10]:
AAPL_IEX.head()

                open      high       low     close    volume
date
2015-01-02  104.2471  104.2939  100.4662  102.3192  53204626
2015-01-05  101.3459  101.6828   98.6506   99.4367  64285491
2015-01-06   99.7082  100.5411   97.9206   99.4461  65797116
2015-01-07  100.3258  101.2617   99.8532  100.8406  40105934
2015-01-08  102.2257  104.9584  101.7296  104.7151  59364547

In [12]:
GOOGL_IEX = wb.DataReader('GOOGL', data_source='iex', start='2015-1-1')

5y

In [13]:
GOOGL_IEX.head()

              open      high     low   close   volume
date
2015-01-02  532.60  535.8000  527.88  529.55  1327870
2015-01-05  527.15  527.9899  517.75  519.46  2059119
2015-01-06  520.50  521.2100  505.55  506.64  2731813
2015-01-07  510.95  511.4900  503.65  505.15  2345875
2015-01-08  501.51  507.5000  495.02  506.91  3662224

In [20]:
AAPL = wb.DataReader('AAPL', data_source='morningstar', start='2015-1-1')

In [22]:
AAPL.head()

                    Close    High      Low    Open    Volume
Symbol Date
AAPL   2015-01-01  110.38  110.38  110.380  110.38         0
       2015-01-02  109.33  111.44  107.350  111.39  53204626
       2015-01-05  106.25  108.65  105.410  108.29  64285490
       2015-01-06  106.26  107.43  104.630  106.54  65797116
       2015-01-07  107.75  108.20  106.695  107.20  40105934

In [28]:
GOOGL = wb.DataReader('GOOGL', data_source='morningstar', start='2015-1-1')

In [29]:
GOOGL.head()

                   Close   High    Low   Open   Volume
Symbol Date
GOOGL  2015-01-01  530.7  530.7  530.7  530.7        0
       2015-01-02  529.6  535.8  527.9  532.6  1327870
       2015-01-05  519.5  528.0  517.8  527.2  2059119
       2015-01-06  506.6  521.2  505.6  520.5  2731813
       2015-01-07  505.2  511.5  503.7  511.0  2345875