In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
security_data = pd.read_csv('MSFT_AAPL_stock.csv', index_col='Date')

In [3]:
security_data.index=pd.to_datetime(security_data.index)

In [4]:
security_data.head()

                 MSFT      AAPL
Date
1999-12-31  38.965767  3.303425
2000-01-03  38.903194  3.596616
2000-01-04  37.589046  3.293384
2000-01-05  37.985374  3.341579
2000-01-06  36.712940  3.052405

In [5]:
security_data.tail()

                 MSFT        AAPL
Date
2017-03-17  64.158463  138.869217
2017-03-20  64.217804  140.327454
2017-03-21  63.505699  138.720413
2017-03-22  64.316704  140.287766
2017-03-23  64.158463  139.791763

In [7]:
security_returns = np.log(security_data / security_data.shift(1))

In [9]:
security_returns.head(20)

                MSFT      AAPL
Date
1999-12-31       NaN       NaN
2000-01-03 -0.001607  0.085034
2000-01-04 -0.034364 -0.088078
2000-01-05  0.010489  0.014528
2000-01-06 -0.034072 -0.090514
2000-01-07  0.012983  0.046281
2000-01-10  0.007264 -0.017745
2000-01-11 -0.025946 -0.052505
2000-01-12 -0.033114 -0.061847
2000-01-13  0.018725  0.104069
2000-01-14  0.040335  0.037405
2000-01-18  0.026918  0.034254
2000-01-19 -0.074817  0.024942
2000-01-20 -0.009390  0.063071
2000-01-21 -0.021455 -0.019461
2000-01-24 -0.024391 -0.046547
2000-01-25  0.015314  0.054934
2000-01-26 -0.034007 -0.018545
2000-01-27 -0.006309 -0.001703
2000-01-28 -0.005076 -0.079191

## MSFT

In [10]:
security_returns['MSFT'].mean()

0.00011508712580239439

In [11]:
security_returns['MSFT'].mean()*250

0.028771781450598596

In [12]:
security_returns['MSFT'].std()

0.019656948849403607

In [18]:
security_returns['MSFT'].std()*250**0.5

0.31080365106770774

## AAPL

In [14]:
security_returns['AAPL'].mean()

0.000864342049190355

In [15]:
security_returns['AAPL'].mean()*250

0.21608551229758874

In [16]:
security_returns['AAPL'].std()

0.027761934312069386

In [19]:
security_returns['AAPL'].std()*250**0.5

0.4389547233905951

## Final Results

In [20]:
print(security_returns['MSFT'].mean()*250)
print(security_returns['AAPL'].mean()*250)

0.028771781450598596
0.21608551229758874

In [22]:
security_returns.head(5)

                MSFT      AAPL
Date
1999-12-31       NaN       NaN
2000-01-03 -0.001607  0.085034
2000-01-04 -0.034364 -0.088078
2000-01-05  0.010489  0.014528
2000-01-06 -0.034072 -0.090514

In [23]:
security_returns[['MSFT','AAPL']].mean()*250

MSFT    0.028772
AAPL    0.216086
dtype: float64

In [24]:
security_returns[['MSFT','AAPL']].mean()*250**0.5

MSFT    0.001820
AAPL    0.013666
dtype: float64